{{define "index.html"}}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nøtes</title>
    <meta name="description" content="minimalist note app">
    <meta name="author" content="Sebastien LOVERGNE">

    <link rel="icon" href="static/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="static/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/lib/masonry.min.js"></script>
    <script src="/static/lib/htmx.min.js"></script>
</head>

<body>
    <header>
        <h1>Nøtes</h1>
        <search>
            <input id="fts-search" type="text" placeholder="Search notes...">
            </input>
        </search>
    </header>
    <main id="notes">
        <textarea id="new_note" class="note" placeholder="Start a new note..." autofocus></textarea>
        {{range $note := .}}
        <textarea id="{{.Id}}" class="note">{{ printf "%s" .Content }}</textarea>
        {{end}}
    </main>
    <script src="/static/app.js"></script>
</body>

</html>
{{end}}
