/* ===== FONTS ===== */

@font-face {
    font-family: 'Atkinson';
    src: url('/static/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson';
    src: url('/staticfonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ===== RESET ===== */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* ===== THEME ===== */

:root {
    --color-primary: 191, 100%, 37%;
    --color-text: 0, 0%, 86%;
    --color-bg: 225, 6%, 13%;
    --color-bd: 213, 5%, 39%;

    color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: 191, 68%, 43%;
        --color-text: 216, 5%, 21%;
        --color-bg: 0, 0%, 99%;
        --color-bd: 0, 0%, 61%;
    }
}

html {
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-bg));
    font-family: "Atkinson", sans-serif;
    line-height: 1.5em;
}


/* ===== LAYOUT ===== */
body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.5rem 1rem;
    border-bottom: solid 2px hsl(var(--color-bd));
}

main {
    min-height: calc(100vh - 2rem);
}

#notes {
    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(auto-fill, min(35ch, 100%));

    justify-content: center;
    gap: 1em;
    padding: 1em;
}


/* ===== TOP BAR ===== */

header>h1 {
    margin-top: 0.10em;
    margin-right: 1em;
    font-family: 'Noto Serif Display', Didot, 'Bodoni MT', 'URW Palladio L', P052, Sylfaen, serif;
}

search {
    display: flex;
    flex-grow: 1;
    max-width: 40ch;
}

search>input {
    width: 100%;
    padding: 0 1ch;
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-bd), 0.5);
    border: none;
    border-radius: 4px;
    outline: none;
}

search>input:focus {
    outline: 2px solid hsl(var(--color-primary));
}

/* ===== Notes ===== */

textarea {
    padding: .5em;
    width: 100%;
    font-size: 1rem;
    font-family: "Atkinson", sans-serif;
    line-height: 1.5em;
    resize: none;
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-bg));
    border: solid 2px hsl(var(--color-bd));
    border-radius: 8px;
}

textarea:focus {
    border: solid 2px hsl(var(--color-primary));
    outline: none;
}


/* ===== UTILS ====== */
.separator {
    flex-grow: 10;
}
